*{
    margin: 0px;
}

div{
    width: 100%;
    height: 500px;
}

.dark{
    background-color: black;
    color: white;
    transition: background-color 0.5s, color 0.5s; 
}

.light{
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}